.form-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0 auto;
  align-self: center;
}

.select-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
}
@media (max-width: 768px) {
  .form-container {
    width: 100%;
    margin: 0;
  }

  .select-box {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }
}

.theater-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 90%;
  height: 60%;
  overflow-y: auto;
  overflow-x: auto;
  align-self: center;
}

.premium-seats,
.standard-seats {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  width: 65%;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.seat-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.seat {
  width: 30px;
  height: 30px;
  cursor: pointer;
  flex-grow: 1;
}

.seat-button {
  border: none;
  background-color: transparent;
}

.proceed-button {
  padding: 5px 10px;
  color: white;
  background-color: #ff0000;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  font-size: 1rem;
  border: 1px solid white;
}

.chair-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.status {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.available {
  color: black;
}

.unavailable {
  color: gray;
}

.selected {
  color: green;
}

.thank-you {
  text-align: center;
  padding: 20px;
}

.thank-you-title {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}

.thank-you-message {
  font-size: 18px;
  color: #666;
  margin: 10px 0;
}

.book-again-button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.back {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  background-color: #ff0000;
  color: white;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.book-my-seat {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
